<h2>Manage</h2>
<table class="table text-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" width="40%">Description</th>
      <th scope="col">Uploaded at</th>
      <th scope="col">Last played</th>
      <th scope="col">Type</th>
      <th scope="col">Error?</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% for(let i = 0; i < data.clips.length; i++) { %>
      <tr>
        <td><a href="/clips/<%= data.clips[i].code %>"><%= data.clips[i].name%></a></td>
        <% if (data.clips[i].type === 'youtube' || data.clips[i].type === 'twitch') { %>
          <td><a href="<%= data.clips[i].url %>"><%= data.clips[i].url%></a></td>
        <% } else { %>
          <td><%= data.clips[i].description%><br /><%= data.clips[0].fileName %></td>
        <% } %>
        <td><%= new Date(data.clips[i].uploadedAt).toDateString() %></td>
        <td><%= new Date(data.clips[i].lastPlayed).toDateString() %></td>
        <td><%= data.clips[i].type%></td>
        <td><%= data.clips[i].error %></td>
        <td>
          <form onSubmit='return confirm("Are you sure you want to delete?")' action='/manage/delete/<%= data.clips[i]._id %>'>
            <input type='submit' value='&#128465;' />
          </form>
        </td>
      </tr>
  <% } %>
  </tbody>
</table>