<h2>Manage</h2>
<table class="table text-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" width="40%">Description</th>
      <th scope="col">Uploaded at</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
  <% for(let i = 0; i < data.clips.length; i++) { %>
    <% if (data.clips[i].type="url") { %>
      <tr>
        <td><%= data.clips[i].name%></td>
        <td><a href="https://youtu.be/<%= data.clips[i].url %>">https://youtu.be/<%= data.clips[i].url%></a></td>
        <td><%= data.clips[i].uploadedAt%></td>
        <td><%= data.clips[i].type%></td>
      </tr>

    <% } else {%>
      <tr>
        <td><%= data.clips[i].name%></td>
        <td><%= data.clips[i].description%></td>
        <td><%= data.clips[i].uploadedAt%></td>
        <td><%= data.clips[i].type%></td>
      </tr>
    <% } %>
  <% } %>
  </tbody>
</table>